.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-info h4,
p {
    margin: 0 1rem;
}

.user-physic {
    margin-top: 2rem;
    background-color: rgb(224, 229, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 1rem;
}